@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject Services.AuthService AuthService
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Bem vindo ao meu sistema de login</h1>

<p>Nessa página implemento um sistema de autenticação e autorização usando um BaS com PocketBase</p>

@code {

}