@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject Services.AuthService AuthService
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private LoginModel loginModel = new LoginModel();

    private string returnToken = "";

    private async Task HandleLogin()
    {
        var token = await AuthService.LoginAsync(loginModel.Username, loginModel.Password);
        if (!string.IsNullOrEmpty(token))
        {
            // Armazenar o token e navegar para uma página protegida
            // Para simplicidade, este exemplo apenas navega para a mesma página
            Navigation.NavigateTo("/");
        }
        returnToken = token;
        StateHasChanged();
    }

    private class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}