@using LoginApp.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link" href="javascript:void(0)" @onclick="Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var customAuthProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        //await customAuthProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/");
    }
}
